<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glg.app.core_lib">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--8.0适配-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application >

        <activity
            android:theme="@style/ActivityDialogStyle"
            android:name="com.glg.app.core_lib.AppUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>
